<section class="bg-gradient-to-br from-gray-100 via-white to-gray-50 px-20 2xl:!px-90 !px-20 !py-90">
  <h2 class="!py-20 !pt-0 !mt-0 !pb-40 !text-6xl lg:!text-8xl text-[var(--ghost-accent-color)]">Kommunale und internationale<br>Erfahrungen</h2>
  <div class="grid xl:grid-cols-3 gap-y-60 gap-x-20 2xl:gap-x-40">
    <div class="grid grid-cols-2 relative shadow-lg !p-10 !xl:p-20 !border rounded-xl !border-[var(--ghost-accent-color)] ">
      <image
        src="./assets/images/undraw_appreciate-it_aans.svg"
        alt=""
        class="z-10 absolute -top-20 -right-10 rounded-xl mb-10 w-80"
      />
        <h4 class="!col-span-2 !text-xl !m-0 !p-0 !pb-5 text-gray-500 uppercase">Deutsch-Griechischer Austausch</h4>
      <div class="">
        <div class="2xl:!text-3xl leading-12">Zuständig für kommunale Entwicklung und Zusammenarbeit zwischen deutschen und griechischen Kommunen</div>
      </div>
    </div>
    <div class="grid grid-cols-2 relative shadow-lg !p-10 !xl:p-20 !border rounded-xl !border-[var(--ghost-accent-color)] ">
      <image
        src="./assets/images/undraw_nature_yf30.svg"
        alt=""
        class="absolute -top-20 -right-10 lg:right-10 rounded-xl mb-10 w-50 lg:w-60"
      />
      <div>
        <h4 class="!text-xl !m-0 !p-0 !pb-5 text-gray-500 uppercase">Entwicklungspolitik</h4>
        <div class="!z-20 2xl:!text-3xl leading-12">Mehrjährige Erfahrung in kommunaler Entwicklungspolitik, Umsetzung der Agenda 2030 in den Kommunen</div>
      </div>
    </div>
    <div class="relative shadow-lg !p-10 !xl:p-20 !border rounded-xl !border-[var(--ghost-accent-color)]">
      <image
        src="./assets/images/undraw_small-town_76a2.svg"
        alt=""
        class="absolute -top-30 right-10 rounded-xl mb-10 w-80"
      />
      <div>
        <h4 class="!text-xl !m-0 !p-0 !pb-5 text-gray-500 uppercase">Friedenspolitik</h4>
        <div class="2xl:!text-3xl leading-12" >Senior Berater und Referent für Frieden und Sicherheitspolitik am Global Governance Institute Brüssel, Belgien (www.globalgovernance.eu)</div>
      </div>
    </div>
  </div>
</section>
