<div class="xl:!grid xl:!grid-cols-3">
  <div class="!p-10 lg:!p-20 2xl:!p-28">
    <h2 class="!pt-0 !mt-0">Bürgermeisterliches</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde maiores
      magnam dicta commodi obcaecati. Vel quod expedita soluta. Reiciendis est
      ex voluptatum excepturi amet voluptas? Atque deleniti et repellendus
      corporis.</p>
    <a href="/buergermeisterliches"><button
        class="flex gap-x-4 !my-10 px-8 py-2 border bg-[var(--ghost-accent-color)] rounded-3xl hover:bg-[var(--ghost-accent-color)]/80 transition"
      >Mehr
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-right-icon lucide-move-right"><path d="M18 8L22 12L18 16"/><path d="M2 12H22"/></svg>
      </button>
    </a>
  </div>
  <div class="!p-10 lg:!p-20 2xl:!p-28">
    <h2 class="!pt-0 !mt-0">Wissenschaft und Publikationen</h2>
    <p>Unde maiores magnam dicta commodi obcaecati. Vel quod expedita soluta.
      Reiciendis est ex voluptatum excepturi amet voluptas? Atque deleniti et
      repellendus corporis.</p>
    <a href="/wissenschaft-und-publikationen"><button
        class="flex gap-x-4 !my-10 px-8 py-2 border bg-[var(--ghost-accent-color)] rounded-3xl hover:bg-[var(--ghost-accent-color)]/80 transition"
      >Mehr
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-right-icon lucide-move-right"><path d="M18 8L22 12L18 16"/><path d="M2 12H22"/></svg>
      </button>
    </a>
  </div>
  <div class="!p-10 lg:!p-20 2xl:!p-28">
    <h2 class="!pt-0 !mt-0">Medien und Vorträge</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde maiores
      magnam dicta commodi obcaecati. Vel quod expedita soluta. Reiciendis est
      ex voluptatum excepturi amet voluptas? Atque deleniti et repellendus
    <a href="/medien-und-vortraege"><button
        class="flex gap-x-4 !my-10 px-8 py-2 border bg-[var(--ghost-accent-color)] rounded-3xl hover:bg-[var(--ghost-accent-color)]/80 transition"
      >Mehr
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-right-icon lucide-move-right"><path d="M18 8L22 12L18 16"/><path d="M2 12H22"/></svg>
      </button>
    </a>
  </div>
</div>
</div>

